<h2>User info</h2>
<%= image_tag userinfo.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>name</th>
      <th><%= userinfo.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= userinfo.introduction %></th>
    </tr>
  </tbody>
</table>
<div class="row">
  <%= link_to edit_user_path(userinfo.id) , class: 'btn btn-outline-secondary btn-block edit_user_61727' do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>