<% if errorinfo.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= errorinfo.errors.count %> errors prohibited this obj from being saved:
    </h3>
    <ul>
      <% errorinfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>